{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "curly": "off",
    "implicit-arrow-linebreak": "off",
    "camelcase": "off",
    "import/no-dynamic-require": "off",
    "global-require": "off",
    "no-unused-vars": ["warn", { "varsIgnorePattern": "next" }]
  }
}